.warning {
    background-color:#fc5d5d;
}

#submitEmployee {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #dbdbdb;
}

h1 {
    text-align: center;
}

#mainBorder {
    padding: 10px;
}