.warning {
    background-color:#fc5d5d;
}

#submitEmployee {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #dbdbdb;
}

h1 {
    text-align: center;
}

#mainBorder {
    padding: 10px;
}

#alignRight {
    display: flex;
    justify-content: flex-end;
    padding-right: 22px;
}

outsideColor {
    background-color: rgb(175, 59, 221);
}
button {
    
}